@import "tailwindcss";

.drag-area {
  -webkit-app-region: drag;
}
/* Налаштування для всього вікна додатку */
::-webkit-scrollbar {
  width: 8px; /* Робимо скроллбар тоненьким (8 пікселів замість стандартних 16) */
  height: 8px;
}

/* Фон доріжки, по якій рухається повзунок */
::-webkit-scrollbar-track {
  background: #64557B; /* Робимо такий самий колір, як і фон твого додатку */
}

/* Сам повзунок, за який можна тягнути */
::-webkit-scrollbar-thumb {
  background: #DBCCFF; /* Ніжно-бузковий колір, як у твоїх кнопок та пошуку */
  border-radius: 10px; /* Повністю закругляємо краї повзунка */
}

/* Ефект, коли користувач наводить мишкою на повзунок */
::-webkit-scrollbar-thumb:hover {
  background: #A99EC5; /* Робимо трохи темнішим при наведенні, щоб був відгук */
}